@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu { margin: 0; padding: 0; }

body { font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif; font-size: 12px; -webkit-tap-highlight-color: transparent; }

a { text-decoration: none; }

.rel { position: relative; }

.abs { position: absolute; }

.fl { float: left; }

.fr { float: right; }

li { list-style: none; }

.clr { line-height: 0; height: 0; clear: both; font-size: 0; overflow: hidden; }

.clearfix:after { display: block; height: 0; visibility: hidden; clear: both; content: "."; }

.no_select { -moz-user-select: none; -webkit-user-select: none; user-select: none; }

html { -webkit-text-size-adjust: none; }

/* 禁用iPhone中Safari的字号自动调整 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* 设置HTML5元素为块 */
img { border: none; max-width: 100%; height: auto; vertical-align: top; }

/* 设置图片视频等自适应调整 */
strong, span, label { display: inline-block; vertical-align: middle; }

select, input { -webkit-appearance: none; line-height: 24px; border-radius: 0; /* mobile-select设置*/ }
.main{
  min-width: 1400px;
}

#head{
  height: 60px;
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.06);
  z-index: 999;
  top:0
}
.head-logo{
  height:40px;
  margin-top: 10px;
  float: left;
}
.head-logo img{
  height:40px
}
.headContent{
  padding: 0 15%;
  height: 60px;
}
.tabs{
  line-height: 60px;
  position: fixed;
  right: 15%;
}
.tabs a{
  color: #333;
  line-height: 17px;
  font-size: 13px;
  margin-right: 30px
}
#banner{
  position: relative;
}
#head .active{
  border-bottom: 2px solid #C63535;
  padding-bottom: 5px;
}
